$bg-color-main: #181818
$color-main: #E0E0E0
$font-size-main: 12px
$font-size-icon: 12px
$font-family: 'HelveticaNeue', sans-serif
$line-height-main: 1

html, body
  width: 100%
  height: 100%

.app
  font: $font-family
  display: flex
  flex: 1 0
  width: 100vw
  height: 100vh
